# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/.pnp
.pnp.js

# testing
/coverage

# Logs
logs
*.log

# misc
.DS_Store
*.pem
Thumbs.db

# local env files
.env*.local
.env

# IDEs and editors
.idea/
.vscode/
*.iml
*.suo
*.sln
*.swp
*.bak
*.tmp
*.cache
*.user
*.lock

# IDE - Visual Studio Code
*.code-workspace
